name: Publish to PyPI

on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup environment
        uses: ./.github/actions/setup-env
        with:
          enable-uv-cache: false # No caching to ensure correct dependencies for publishing
          sync-uv: false

      - name: Build package
        run: uv build

      - name: Publish package
        run: uv publish
